<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scoretracker.robert.scheffel.eu.scoretraker">

    <application
        android:name=".services.ScoreTrackerService"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ParcourNew"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activity.UserNew"
            android:label="@string/title_activity_user_new"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activity.ScoresNew"
            android:label="@string/title_activity_Scores_new"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activity.SelectParcour"
            android:label="@string/title_activity_SelectPacour"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>